<div style="border: 2px solid grey; padding: 20px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h5>Documentation</h5>
            <ul class="list-unstyled">
                <li><a href="#">Documentation</a></li>
                <li><a href="#">API Reference</a></li>
                <li><a href="#">Support Area</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>Resources</h5>
            <ul class="list-unstyled">
                <li><a href="#">Documentation</a></li>
                <li><a href="#">API Reference</a></li>
                <li><a href="#">Support Area</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>Contact</h5>
            <p>Please report issues in <a href="#">github</a>.</p>
        </div>
        <div class="col-md-3">
            <h5>About</h5>
            <p>This project is a work in progress.</p>
            <p>Designed and developed by the resmi team to enhance urban mobility asset management.</p>
            <p>&copy; 2024 resmi Contributors. License.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>